@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 94%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 50% 88%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 230 50% 88%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 260 45% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 40% 80%;
    --input: 230 40% 80%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 71% 15%;
    --foreground: 210 40% 98%;
    --card: 222 71% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 222 71% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 71% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 71% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 260 45% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 71% 25%;
    --input: 222 71% 25%;
    --ring: 231 48% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
